%ion-modal-view
  %ion-header-bar
    %h1.title Login
    .buttons
      %button.button.button-clear{"ng-click" => "closeLogin()"} Close
  %ion-content
    %form{"ng-submit" => "doLogin()"}
      .list
        %label.item.item-input
          %span.input-label Username
          %input{"ng-model" => "loginData.username", :type => "text"}/
        %label.item.item-input
          %span.input-label Password
          %input{"ng-model" => "loginData.password", :type => "password"}/
        %label.item
          %button.button.button-block.button-positive{:type => "submit"} Log in
